body {
    background-color: #444;
    color: #ddd;

}

.passive-button {
    pointer-events:none;
    color: #969393;
}
.active-button {
    pointer-events:auto;
    color:#ddd;
}
.delete-button {
    display:none;
}
.message-container {
    width: 100%;
    height:100%;
    margin-top:5%;
    font-weight: bold;
}
.message {
    font-size: 12px;
    text-align: center;
}

.container {
    display:flex;
    height:100%;
    margin:0;
}
.status-wrapper {
    /* border: 1px solid #fff; */
    width:50%;
}
.status-wrapper > p {
    margin:0;
}
.commands-wrapper {
   /* border: 1px solid #fff; */
   width:50%;
}
.commands-wrapper > input {
   color: #ddd;
   background-color:#444;
    display: block;
    width: 80%;
}
.enemy-wrapper > p {
    margin:0;
}
.container {
    width: 100%;
    height: 100%;
    list-style:none;
    margin-bottom: 5%;
    /* border: 1px solid #ddd; */
}

.enemy-container {
    display: flex;
}
.enemy-wrapper {
    width: 50%;
}
.enemy-image-wrapper {
    /* border:1px solid #ddd; */
    width: 50%;
    height: 100px;
}
.enemy-image {
    object-fit:contain;
    width:100%;
    height: 100%;
    
}
.start-button-contaier {
    text-align: center;
    
}
.start-button {
    border-radius: 10px;
    display:inline-block;
    padding: 10px 20px;
    width: 50%;
    border: solid 2px #ddd;
}
ul {
   list-style:none; 
}